<p>Your address {{address}}</p>
<p>Your coordinates {{longitude.toString()+", "+latitude.toString()}}</p>

<app-map [coordinates]="[16.226159, 39.3630553]" (sendCoordinatesToParent)="onCoordinatesReceived($event)" [draggable]="true" class="map"></app-map>
<button mat-raised-button color="primary" class="login-btn" (click)="onConfirm()">
  <mat-icon>check</mat-icon>
  Salva
</button>
<button mat-raised-button color="accent" class="login-btn" (click)="onCancel()">
  <mat-icon>close</mat-icon>
  Annulla
</button>
