<div class="card-container">
  <div class="card-rating">
    <div class="rating">4/5</div>
  </div>
  <div class="card-header">
    <div class="username">USERNAME</div>
    <div class="date">GG-MM-AAAA</div>
  </div>
  <div class="card-content">
    <p>Questo è un commento di prova. Davvero, non c'è nulla da leggere, puoi fermarti anche qui. Inutile proseguire nella lettura, a meno che.. no, niente. Non c'è un caso in cui la lettura di questo testo risulti utile a qualcosa.</p>
  </div>
  <div class="card-footer">
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon class="icon-report">report</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon class="icon-edit">edit</mat-icon>
    </button>
  </div>
</div>
