*,
*:after,
*before {
  box-sizing: border-box;
}

.card {
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
  flex-grow: 0;
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
  width: 15vw;
  display: inline-block;
  flex-wrap: wrap;
}

.card:hover {
  cursor: pointer;
}

@media screen and (max-width: 1500px) {
  .card{
    width: 20vw;
  }
}

@media screen and (max-width: 1000px) {
  .card{
    width: 30vw;
  }
}

@media screen and (max-width: 800px) {
  .card{
    width: 40vw;
  }
}

.card-img {
  padding-bottom: 175px;
  position: relative;
  background-color: lightslategray;
}

.card-img img {
  position: absolute;
  max-height: 175px;
  left: 50%;
  transform: translateX(-50%);
  object-position: top;
}

.card-body {
  padding: 1.5rem;
}

.card-title {
  font-size: 1.25rem;
  line-height: 1.33;
  font-weight: 700;
  height: 50px;
}

.card-organizer {
  font-size: 0.875rem;
  line-height: 1.43;
  height: 20px;
}

.card-data {
  font-size: 0.800rem;
  line-height: 1.43;
  margin-bottom: 1rem;
  color: #9b9b9b;
  height: 2px;
}

/*.container {
  width: 20%;

}*/
