*,
*:after,
*before {
  box-sizing: var(--card-before-after-box-sizing);
}

.card {
  display: var(--card-display);
  flex-wrap: var(--card-flex-wrap);
  flex-direction: var(--card-flex-direction);
  background-color: var(--card-background-color);
  overflow: var(--card-overflow);
  width: var(--card-width);
  height: var(--card-height);
  box-shadow: var(--card-box-shadow);
  border-radius: var(--card-border-radius);
  margin: var(--card-margin);
  transition: var(--card-transition);
}
.card:hover {
  cursor: var(--card-hover-cursor);
  transform: var(--card-hover-transform);
}

.card-img {
  /* l'immagine mi deve occupare il 45% dello spazio (verticale) */
  padding-bottom: var(--card-image-container-padding-bottom);
  position: var(--card-image-container-position);
  background-color: var(--card-image-container-background-color);
  overflow: var(--card-image-container-overflow);
}
.img {
  position: var(--card-image-position);
  object-fit: var(--card-image-object-fit);
  top: var(--card-image-top);
  left: var(--card-image-left);
  width: var(--card-image-width);
  height: var(--card-image-height);
  transform: var(--card-image-transform); /* se volessi spostare l'immagine verticalmente */
}

.card-body {}
.card-body .card-title {

  /* centro il testo verticalmene e orizzontalmente */
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;

  font-size: 16px;
  font-weight: 500;

}

.card-info {
  background-color: white;
  display: flex;

  margin-left: 8px;
  margin-right: 8px;

  align-items: center;
  justify-content: center;
}
.card-info .left-side {

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  flex: 1;
  width: 25%;
  height: 50px;
}
.left-side .card-calendar-mmm {
  flex: 1;
  margin-top: 10px;

  color: red;
  font-weight: 500;
}
.left-side .card-calendar-dd {
  flex: 1;
  margin-top: -20px;
  font-weight: 500;
}

.right-side {

  flex: 4;
  width: 75%;
  height: auto;
}
.right-side .upper-side {

  transform: translateX(-35px);
  margin-left: 35px;
  text-align: center;

  height: auto;
  overflow: hidden;
}
.right-side .upper-side .card-location {
  transform: translateX(-17px);

  margin-bottom: -3px;

  font-size: 13px;
  color: dimgrey;

}

.right-side .center-side {

  transform: translateX(-35px);
  margin-left: 35px;
  text-align: center;

  height: auto;
}
.right-side .center-side .card-organizer {
  transform: translateX(-17px);

  margin-top: 0px; /* -3 */
  margin-bottom: -3px;

  font-size: 13px;
  color: dimgrey;

}

.right-side .lower-side {

  transform: translateX(-35px);
  margin-left: 35px;
  text-align: center;

  height: auto;

}
.right-side .lower-side .card-date {
  transform: translateX(-17px);

  margin-top: -3px;

  font-size: 13px;
  color: dimgrey;

}

@media (max-width: 600px) {
  .card {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    overflow: hidden;

    width: 260px;
    height: 280px;

    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    transition: transform .2s;
  }
}
