@import "/src/styles.css";

.not-found-container {
  min-height: calc(100vh - 64px - 194px);
  width: 100vw;
  background-color: var(--background-pastel-color);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.items {
  width: auto;
  height: auto;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 64px;
  padding-top: 20px;
}
.action {
  margin-top: 20px;
  font-size: 24px;
  background-color: var(--button-primary-color);
  color: white;
  cursor: pointer;
}
