mat-toolbar {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  max-height: 64px;
  max-width: 100vw;
  margin: 0 auto;
}

.logo-img {
  float: left;
  margin-left: 0;
  height: 64px;
  outline: none;

}

a {
  color: inherit;
  text-decoration: inherit;
}

.logo {
  height: 48px;
  margin-top: 10px;
  margin-left: 6px;
  transition: transform .2s;
  background-image: url("/assets/images/LogoWeb.png");
  min-width: 190px;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo:hover {
  transform: scale(1.1);
}

.toolbar-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-button {
  float: left;
  justify-content: center;
  align-items: center;
  margin: 0 4px;
}

.profile-button {
  display: inline-block;
}

.search-button {
  min-width: 110px;
  width: 30vw;
}

@media screen and (max-width: 600px) {
  .logo {
    height: 30px;
    margin-top: 16px;
    margin-left: 8px;
    transition: transform .2s;
    background-image: url("/assets/images/ShortLogoWeb.png");
    min-width: 50px;

    background-size: contain;
    background-repeat: no-repeat;
  }
}
