.spacer {
  flex: 1 1 auto;
}

.navbar-button {
  margin: 10px;
}

.toolbar-buttons {
  display: block;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 10px;
  transition: transform .2s;
}

.logo:hover {
  transform: scale(1.1);
}

.search-button {
  width: 150px;
}


