<mat-toolbar class="toolbar">
  <a routerLink="">
    <img src="assets/LogoWeb.png" class="logo" matTooltip="Vai alla pagina principale">
  </a>
  <div class="search-button-container">
    <button mat-raised-button class="search-button" routerLink="/search">
      Ricerca
      <mat-icon>search</mat-icon>
    </button>
  </div>
  <span class="spacer"></span>
  <div class="toolbar-buttons">
    <button mat-raised-button class="navbar-button" *ngIf="authService.isAuthenticated() && authService.user.role === 'ORGANIZER'" routerLink="/create-event">Crea evento</button>
    <button mat-raised-button class="navbar-button" *ngIf="!authService.isAuthenticated()" routerLink="/login">Accedi</button>
    <button mat-raised-button class="navbar-button" *ngIf="!authService.isAuthenticated()" routerLink="/register">Iscriviti</button>
  </div>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu profilo" *ngIf="authService.isLoggedIn">
    <mat-icon>perm_identity</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon>face</mat-icon>
      <span>Il mio profilo</span>
    </button>
    <button mat-menu-item *ngIf="authService.isAdmin()" routerLink="/admin/dashboard">
      <mat-icon>dashboard</mat-icon>
      <span>Dashboard</span>
    </button>
    <button mat-menu-item (click)="authService.logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
