<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Scegli una data</mat-label>
  <input matInput [min]="minDate" [max]="maxDate" [formControlName]="controlName" readonly="readonly"[ngxMatDatetimePicker]="picker">
  <mat-error *ngIf="picker.valid">
    Inserisci una data e un ora validi
  </mat-error>
  <mat-datepicker-toggle matIconSuffix [for]="$any(picker)" type="button"></mat-datepicker-toggle>
  <ngx-mat-datetime-picker #picker [touchUi]="true"></ngx-mat-datetime-picker>
</mat-form-field>
