<mat-card class="card">
  <mat-card-header class="card-header">
    <mat-card-title>Modifica dati</mat-card-title>
    <mat-card-subtitle>Qui potrai modificare i tuoi dati personali.</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">

      <div class="registry-container">

        <!-- name -->
        <div class="field-container">
          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="" formControlName="name" required>
            <mat-icon matSuffix>face icon</mat-icon>
          </mat-form-field>
        </div>

        <!-- last name -->
        <div class="field-container">
          <mat-form-field appearance="outline">
            <mat-label>Cognome</mat-label>
            <input matInput placeholder="" formControlName="lastName" required>
            <mat-icon matSuffix>face icon</mat-icon>
          </mat-form-field>
        </div>

        <!-- event type -->
        <div class="field-container">
          <mat-form-field>
            <mat-label>Tipi di evento preferiti</mat-label>
            <mat-select formControlName="preferences" multiple>

              <mat-select-trigger>
                <mat-chip-list>
                  <mat-chip *ngFor="let type of editForm.value.preferences"
                            [removable]="true" (removed)="onTypeRemoved(type)">
                    {{ type }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

              <mat-option *ngFor="let type of eventTypes" [value]="type">{{type}}</mat-option>

            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="account-container">
        <!-- email -->
        <div class="field-container">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="" formControlName="email" required>
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>

        <!-- password -->
        <div>
          <div class="field-container">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput [type]="hidePassword ? 'password' : 'text'" formControlName="password">
              <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hidePassword" type="button">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>

        <!-- verifica password -->
        <div>
          <div class="field-container">
            <mat-form-field appearance="outline">
              <mat-label>Conferma password</mat-label>
              <input matInput [type]="hidePasswordConfirm ? 'password' : 'text'" formControlName="passwordConfirm">
              <button mat-icon-button matSuffix (click)="hidePasswordConfirm = !hidePasswordConfirm" [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hidePasswordConfirm" type="button">
                <mat-icon>{{hidePasswordConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="position-container">

        <!-- location -->
        <div class="position-container">
          <mat-form-field appearance="fill">
            <mat-label>Regione</mat-label>
            <mat-select matNativeControl formControlName="region" (selectionChange)="setCities()" required>
              <mat-option *ngFor="let region of regions" value="{{region}}">{{region}}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Città</mat-label>
            <select matNativeControl formControlName="city" required>
              <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
            </select>
          </mat-form-field>
        </div>
      </div>

      <mat-card-actions>
        <button mat-raised-button color="primary" class="login-btn" [disabled]="!editForm.valid" type="submit" (click)="onConfirm()">
          <mat-icon>edit</mat-icon>
          Salva
        </button>
        <button mat-raised-button color="accent" class="login-btn" type="submit" (click)="onCancel()">
          <mat-icon>close</mat-icon>
          Annulla
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
