@import url("style.css");

/* TOOLBAR */


.container-xl {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

.overflow-scroll {
    text-align: center;
}

.global-stats-table-container {
    padding: 3px;
}

.global-stats-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.global-stats-table th {
    font-size: 22px;
    background-color: #f2f2f2;
    color: #333;
    padding: 3px;
}

.global-stats-table tr td {
    font-size: 36px;
    padding: 3px;
    border-bottom: 1px solid #ccc;
}

.global-stats-table tr:last-child td {
    border-bottom: none;
}

.global-stats-table tr:hover td {
    background-color: #f2f2f2;
}

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 64px;
    padding: 10px;
    background-color: var(--footer-background-color);
}

.left-section {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}
.center-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.right-section {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.search-button {
    background-color: lightgray;
    color: black;
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 4px;
    height: 36px;
    min-width: 110px;
    width: 30vw;
    font-size: 16px;
    display: flex;
    text-align: center;
    align-content: center;
    padding-top: 6px;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
}

.section-header {
    margin-top: 15vh;
}


/*  LOGO */
.logo {
    width: 190px; /* da rivedere */
    height: 48px;
    margin-left: 7px;
    margin-top: 4px;
    transition: transform .2s;
}


.logo:hover {
    transform: scale(1.1);
}
/* FINE LOGO*/

/* PULSANTI */
.left-button {
    margin-left: 10px;
    width: 200px;
}
.right-button {
    margin-left: 10px;
}
.left-button,.right-button {
    background-color: lightgray;
    color: black;
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    cursor: pointer;
    transition: all 0.2s;
}
.left-button:hover,.right-button:hover{
    box-shadow: 0px 0px 2px -2px rgba(0,0,0,0.2),0px 5px 10px -1px rgba(0,0,0,0.12);
    background-color: #F5F5F5;
    /*transition: 0.2s*/
}
.left-button:hover,.right-button:hover{
    outline: none;
    box-shadow: none;
}

/* FINE PULSANTI */





/* CARD */
.card-container { }

.position-label {
    margin-bottom: -6px;
}

.card {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    width: 350px;
    height: 280px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 26px 0;
    transition: transform .2s;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card-img {
    /* l'immagine mi deve occupare il 45% dello spazio (verticale) */
    padding-bottom: 46%;
    position: relative;
    background-color: white;
    overflow: hidden;
}
.img {
    position: absolute;
    object-fit: cover;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0); /* se volessi spostare l'immagine verticalmente */
}
.card-body .card-title {

    /* centro il testo verticalmene e orizzontalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 16px;
    font-weight: 500;

}
.card-body{
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
.card-title{
    margin: 1px;
}
.card-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: var(--elements-background-color-light);
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#scrollBtn:focus {
    outline: none;
}

@media (max-width: 600px) {
    .card {
        display: inline-block;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: white;
        overflow: hidden;

        width: 260px; /*260px*/
        height: 280px;

        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;
        transition: transform .2s;
    }
}
/* FINE CARD */

.row {
    background-color: var(--background-pastel-color);
    padding: 12px 26px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin: 0 26px;
}



/* FOOTER */
.footer {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 12px;
    background-color: var(--footer-background-color);
}
.footer div {
    flex: 1;
    margin: 12px 24px;
}

.header-icon {
    margin-right: 6px;
    margin-bottom: -6px;
}

p, a {
    color: var(--text-content-color);
}
a {
    text-decoration: none;
    transition: transform 0.2s;
}
a:hover {
    text-decoration: underline;
}

.chi-siamo-section p, .contattaci-section p, .link-section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: initial;
    flex: 1;
    padding: 10px;
}
.chi-siamo-section h3, .contattaci-section h3 , .link-section h3{
    font-weight: var(--header-font-weight);
    color:white;
}
.chi-siamo-section p {
    text-align: initial;
}
.contattaci-section p {
    text-align: center;
}
.link-section ul {
    text-align: center;
    list-style: none;
    margin-left: -24px;
}
.link-section li {
    margin: 0;
    padding: 0;
}
/* FINE FOOTER */

















/*
.mdc-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: auto;
    height: 36px;
    padding: 0 16px;
    border: none;
    outline: none;
    line-height: 36px;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
    border-radius: 4px;
    background-color: #6200ee;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.0892857143em;
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: box-shadow;
    cursor: pointer;
}

.mdc-button:hover {
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
}

.mdc-button:active {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
}

.mdc-button:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    color: rgba(0, 0, 0, 0.38);
    cursor: default;
}
*/
/*
.mdc-button__label {
    color: inherit;
}
*/

/*
.mdc-button__label{
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.04em;
    text-decoration: inherit;
    text-transform: inherit;
}
 */
