@import url("style.css");

/* TOOLBAR */

body{
    background-color: #FAFAFA;/*var(--background-pastel-color)*/
    opacity: 1;
    background-image:  linear-gradient(30deg, #f6f6f6 12%, transparent 12.5%, transparent 87%, #f6f6f6 87.5%, #f6f6f6), linear-gradient(150deg, #f6f6f6 12%, transparent 12.5%, transparent 87%, #f6f6f6 87.5%, #f6f6f6), linear-gradient(30deg, #f6f6f6 12%, transparent 12.5%, transparent 87%, #f6f6f6 87.5%, #f6f6f6), linear-gradient(150deg, #f6f6f6 12%, transparent 12.5%, transparent 87%, #f6f6f6 87.5%, #f6f6f6), linear-gradient(60deg, #f6f6f677 25%, transparent 25.5%, transparent 75%, #f6f6f677 75%, #f6f6f677), linear-gradient(60deg, #f6f6f677 25%, transparent 25.5%, transparent 75%, #f6f6f677 75%, #f6f6f677);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.container-xl {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

a {
    color: inherit !important;
}

.overflow-scroll {
    text-align: center;
}

.global-stats-table-container {
    padding: 3px;
}

/* TABLE */
/*
tr, td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #dddddd;/*border bottom
    box-shadow: inset 0px 1px 0px #ffffff;
    transition: all 0.3s ease-in-out;
}
*/
table {
    background-color: #ffffff;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    box-shadow: 0px 3px 10px #cccccc;
    border-radius: 10px;
    overflow: hidden;

}

th, td {
    border: 1px solid #dddddd;
    text-align: center;
    vertical-align: middle;
}
th {
    padding: 8px;
    background-color: #f2f2f2;
    font-weight: bold;
}

td{
    padding: 10px;
    font-size: 20px;
    min-height: 60px;
    transition: all 0.3s;
}


td:hover{
    padding: 0px;
    font-size: 30px;
    transition: font-size 0.3s;
}
td:nth-child(1):hover {
    background-color: var(--background-columns1-color);
}
td:nth-child(2):hover {
    background-color: var(--background-columns2-color);
}
td:nth-child(3):hover {
    background-color:var(--background-columns3-color);
}
td:nth-child(4):hover {
    background-color:var(--background-columns4-color);
}
td:nth-child(5):hover {
    background-color:var(--background-columns5-color);
}

@media only screen and (max-width: 767px) {
    td {
        padding: 5px;
        min-height: 30px;
    }
    td:hover{
        padding: 0px;
        font-size: 25px;
        transition: font-size 0.3s;
    }
}
    /*background: linear-gradient(#f2f2f2, #e6e6e6);*/
    /*background: linear-gradient(#ffffff, #f2f2f2);*/

/* FINE TABLE */

/*
.global-stats-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.global-stats-table th {
    font-size: 22px;
    background-color: #f2f2f2;
    color: #333;
    padding: 3px;
}

.global-stats-table tr td {
    font-size: 36px;
    padding: 3px;
    border-bottom: 1px solid #ccc;
}

.global-stats-table tr:last-child td {
    border-bottom: none;
}

.global-stats-table tr:hover td {
    background-color: #f2f2f2;
}
*/

.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 64px;
    padding: 10px;
    background-color: var(--footer-background-color);
}

.left-section {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}
.center-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.center-section > a {
    text-decoration: none !important;
}

.right-section {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.search-button {
    background-color: white;
    color: black;
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 4px;
    height: 36px;
    min-width: 110px;
    width: 30vw;
    font-size: 16px;
    display: flex;
    text-align: center;
    align-content: center;
    padding-top: 6px;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s;
}

.section-header {
    margin-top: 15vh;
}


/*  LOGO */
.logo {
    width: 190px; /* da rivedere */
    height: 48px;
    margin-left: 7px;
    margin-top: 4px;
    transition: transform .2s;
}


.logo:hover {
    transform: scale(1.1);
}
/* FINE LOGO*/

/* PULSANTI */
.left-button {
    margin-left: 10px;
    width: 200px;
}
.right-button {
    margin-left: 10px;
}
.left-button,.right-button {
    background-color: lightgray;
    color: black;
    border: none;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    cursor: pointer;
    transition: all 0.2s;
}
.left-button:hover,.right-button:hover{
    box-shadow: 0px 0px 2px -2px rgba(0,0,0,0.2),0px 5px 10px -1px rgba(0,0,0,0.12);
    background-color: #F5F5F5;
    /*transition: 0.2s*/
}
.left-button:hover,.right-button:hover{
    outline: none;
    box-shadow: none;
}

/* FINE PULSANTI */





/* CARD */
.card-container {}

.row {
    /*background-color: var(--background-pastel-color);*/
    background: linear-gradient(#ffffff, #f2f2f2);
    padding: 16px 26px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    margin: 0 26px;
}

.position-label {
    margin-bottom: -6px;
}

.card {
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    overflow: hidden;
    width: 350px;
    height: 280px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin: 26px 0;
    transition: transform .2s;
}
.card:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.card-img {
    /* l'immagine mi deve occupare il 45% dello spazio (verticale) */
    padding-bottom: 46%;
    position: relative;
    background-color: white;
    overflow: hidden;
}
.img {
    position: absolute;
    object-fit: cover;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(0); /* se volessi spostare l'immagine verticalmente */
}
.card-body .card-title {

    /* centro il testo verticalmene e orizzontalmente */
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 16px;
    font-weight: 500;

}
.card-body{
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}
.card-title{
    margin: 1px;
}
.card-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color:black;
}

#scrollBtn {
    display: none;
    position: fixed;
    bottom: 24px;
    right: 24px;
    background-color: var(--elements-background-color-light);
    border: none;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#scrollBtn:focus {
    outline: none;
}

@media (max-width: 600px) {
    .card {
        display: inline-block;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: white;
        overflow: hidden;

        width: 260px; /*260px*/
        height: 260px;

        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
        transition: transform .2s;
    }
}
/* FINE CARD */





/* FOOTER */
.footer {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 12px;
    background-color: var(--footer-background-color);
}
.footer div {
    flex: 1;
    margin: 12px 24px;
}

.header-icon {
    margin-right: 6px;
    margin-bottom: -6px;
}

p, a {
    color: var(--text-content-color);
}

.link-section {
  color: var(--text-content-color);
}

.chi-siamo-section p, .contattaci-section p, .link-section ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: initial;
    flex: 1;
    padding: 10px;
}
.chi-siamo-section h3, .contattaci-section h3 , .link-section h3{
    font-weight: var(--header-font-weight);
    color:white;
}
.chi-siamo-section p {
    text-align: initial;
}
.contattaci-section p {
    text-align: center;
}
.link-section ul {
    text-align: center;
    list-style: none;
    margin-left: -24px;
}
.link-section li {
    margin: 0;
    padding: 0;
}
/* FINE FOOTER */
