html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #FAFAFA}


* {
    --var-root: test;

    /* background material color */
    --background-pastel-color: #e9f2f8;
    --login-page-background-color: #e9f2f8;
    --registration-page-background-color: #e9f2f8;

    --elements-background-color-dark: #ebebeb;
    --elements-background-color-light: #f5f5f5;



    /* UI Elements Colors */
    --button-primary-color: #3f51b5;
    /*
    --button-secondary-color:;
    --button-warning-color:;
    */

    /* tutte le pagine */
    --display-center-space-display: flex;
    --display-center-space-flex-direction: row;
    --display-center-space-align-items: center;
    --display-center-space-justify-content: center;
    --display-center-space-height: auto;
    --display-center-space-width: auto;

    /* *** */

    --footer-background-color: #3f51b5;
    --text-content-color: #cecece;
}
