<div class="card-container">
  <div class="card-header">
    <div class="header-text">Dicci com'è andata!</div>
  </div>

  <div class="field-container">

    <!-- Text input -->
    <mat-form-field class="input-field" appearance="outline">
      <mat-label matTooltip="{{isBeforeEventDate() ? 'Recensioni possibili solo dopo la data dell\'evento' : ''}}">{{isBeforeEventDate() ? "Recensioni possibili solo dopo l'evento" : 'Scrivi qui'}}</mat-label>
      <textarea class="input-field"
                matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
                placeholder="Non vedo l'ora!" [(ngModel)]="text" (keyup.enter)="onSend()" (keyup.shift.enter)="(0)" [disabled]="isBeforeEventDate()"></textarea>
    </mat-form-field>
    <div class="send-btn-container">
      <button class="set-rating-btn" mat-mini-fab aria-label="Review button" (click)="updateRating()" matTooltip="Cambia rating">
        <mat-icon>star</mat-icon>
        {{rating}}
      </button>
      <button class="send-btn" mat-icon-button aria-label="Send button" [disabled]="text===''" (click)="onSend()" matTooltip="Invia recensione">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>
