<div class="card-container">

  <div class="card-header">
    <div class="header-text">Dicci di più.</div>
  </div>

  <form class="form-container" [formGroup]="reportForm" (ngSubmit)="onSubmit()">

    <!-- report types  -->
    <mat-form-field appearance="fill">
      <mat-label>Tipologia</mat-label>
      <mat-select formControlName="type" required>
        <mat-option *ngFor="let type of reportTypes" value="{{type}}">{{type}}</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- reason -->
    <div class="field-container">
      <mat-form-field appearance="outline">
        <mat-label>Motivazione</mat-label>
        <input matInput placeholder="" formControlName="reason">
        <mat-icon matSuffix>chat</mat-icon>
      </mat-form-field>
    </div>

    <!-- confirm/cancel -->
    <div class="btn-container">
      <div class="cancel-btn-container">
        <button class="btn" mat-mini-fab color="warn" aria-label="Annulla" (click)="onCancel()" matTooltip="Annulla operazione" type="submit">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
      <div class="send-btn-container">
        <button class="btn" mat-mini-fab color="primary" aria-label="Conferma" (click)="onConfirm()" [disabled]="!reportForm.valid" matTooltip="Invia segnalazione" type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>
