/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*
PER IMPORTARE QUESTO FOGLIO DI STILE USA
  -> @import "src/styles.css";
*/
* {
  --var-root: test;

  /* LOGIN PAGE */
  --login-page-background-color: #e9f2f8;
  --registration-page-background-color: #e9f2f8;

}
