/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*
PER IMPORTARE QUESTO FOGLIO DI STILE USA
  -> @import "src/styles.css";
*/
* {
  --var-root: test;

  /* background material color */
  --background-pastel-color: #e9f2f8;
  --login-page-background-color: #e9f2f8;
  --registration-page-background-color: #e9f2f8;

  /* UI Elements Colors */
  /*
  --button-primary-color:;
  --button-secondary-color:;
  --button-warning-color:;
  */
  /* comment and review container */
  --comment-and-review-container-background-color-light: grey;
  --comment-and-review-container-background-color-dark: lightgrey;
  /* r. 630 */

  /* tutte le pagine */
  --display-center-space-display: flex;
  --display-center-space-flex-direction: row;
  --display-center-space-align-items: center;
  --display-center-space-justify-content: center;
  --display-center-space-height: auto;
  --display-center-space-width: auto;

  /* *** */

}
