html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/*
PER IMPORTARE QUESTO FOGLIO DI STILE USA
  -> @import "src/styles.css";
*/
* {
  --var-root: test;

  /* background material color */
  --background-pastel-color: #e9f2f8;
  --login-page-background-color: #e9f2f8;
  --registration-page-background-color: #e9f2f8;

  --elements-background-color-dark: #ebebeb;
  --elements-background-color-light: #f5f5f5;



  /* UI Elements Colors */
  --button-primary-color: #3700be;
  /*
  --button-secondary-color:;
  --button-warning-color:;
  */
  /* comment and review container */
  --comment-and-review-container-background-color-dark: grey;
  --comment-and-review-container-background-color-light: lightgrey;

  /* tutte le pagine */
  --display-center-space-display: flex;
  --display-center-space-flex-direction: row;
  --display-center-space-align-items: center;
  --display-center-space-justify-content: center;
  --display-center-space-height: auto;
  --display-center-space-width: auto;

  /* *** */

  --footer-background-color: #3700be;
  --text-content-color: #cecece;
}
