/* Container principale */
.container {
  display: flex;
  background-color: var(--dialog-pages-background-color);
  height: auto;
}

.card {
  display:flex;
  max-width: 800px;
  min-width: 350px;
  width: 40vw;
  padding: 40px 40px;
  margin: 40px auto;
  text-align: center;
}

/* Card header */
.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

/* Inserimento Email e Password */
.field-container {
  margin-left: -6px;
  width: auto;
}

/* Pulsante per effettuare il login */
.login-btn {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
}

/* Redirect alla pagina di registrazione */
.login-container {
  color: slategray;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
}

.login-txt {
  color: slategray;
}
.radio-container {
  text-align: center;
}

.radio-button {
  margin-right: 20px;
}



mat-form-field {
  width: 100%;
}

.datepicker {

}







































