/* Container principale */
.container {
  display: flex;
  height: auto;

  /* pattern */
  background-color: var(--background-pastel-color);
  opacity: 1;
  background-image:  linear-gradient(30deg, #f6f6f6 12%, transparent 12.5%, transparent 87%, #f6f6f6 87.5%, #f6f6f6), linear-gradient(150deg, #f6f6f6 12%, transparent 12.5%, transparent 87%, #f6f6f6 87.5%, #f6f6f6), linear-gradient(30deg, #f6f6f6 12%, transparent 12.5%, transparent 87%, #f6f6f6 87.5%, #f6f6f6), linear-gradient(150deg, #f6f6f6 12%, transparent 12.5%, transparent 87%, #f6f6f6 87.5%, #f6f6f6), linear-gradient(60deg, #f6f6f677 25%, transparent 25.5%, transparent 75%, #f6f6f677 75%, #f6f6f677), linear-gradient(60deg, #f6f6f677 25%, transparent 25.5%, transparent 75%, #f6f6f677 75%, #f6f6f677);
  background-size: 80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;

}

.card {
  display:flex;
  max-width: 800px;
  min-width: 350px;
  width: 40vw;
  padding: 40px 40px;
  margin: 40px auto;
  text-align: center;
}

/* Card header */
.card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

/* Inserimento Email e Password */
.field-container {
  margin-left: -6px;
  width: auto;
}

/* Pulsante per effettuare il login */
.login-btn {
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
}

/* Redirect alla pagina di registrazione */
.login-container {
  color: slategray;
  text-align: center;
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
}

.login-txt {
  color: slategray;
}
.radio-container {
  text-align: center;
}

.radio-button {
  margin-right: 20px;
}



mat-form-field {
  width: 100%;
}

.datepicker {

}







































