* {
  primaryBackgroundColor: #DFDEDE;
  secondaryBackgroundColor: #393E46;
  transparentBackgroundColor: transparent;
  iconOverBackgroundColor: #121212;
  primarySelectionColor: #8D0011;
  secondarySelectionColor: #808080;
  tertiarySelectionColor: #BF3F13;
  imagesColor: #dcdcdd;
  textColor: #121212;
  alternateTextColor: #313131;
  headersTextColor: #121212;
  selectedTextColor: #dcdcdd;
  lineColor: #b3b3b3;
  separatorColor: #7b90b0;
  dropShadowColor: #414141;
  sliderTrackColor: #EEEEEE;
  settingsIconHoverColor: #dcdcdd;
  errorColor: #B3261E;
}
