<div>

  <div class="organizer-header">
    <h1 class="organizer-header-name">Il mio profilo</h1>
  </div>


  <div class="card-container">
    <div class="card-header">
      <h2 class="explore-cpy">Dati personali</h2>
    </div>

    <mat-divider class="divider"></mat-divider>

    <div class="cards">

      <!-- !!! -->
      <div class="info-container">
        <p class="info-cpy">USERNAME</p>
        <p class="info-data">{{this.authService.user.username}}</p>
      </div>
      <div class="info-container">
        <p class="info-cpy">NOME</p>
        <p class="info-data">{{this.authService.user.name}}</p>
      </div>
      <div class="info-container">
        <p class="info-cpy">COGNOME</p>
        <p class="info-data">{{this.authService.user.lastName}}</p>
      </div>
      <div class="info-container">
        <p class="info-cpy">EMAIL</p>
        <p class="info-data">{{this.authService.user.email}}</p>
      </div>
      <div class="info-container">
        <p class="info-cpy">REGIONE</p>
        <p class="info-data">{{this.authService.user.location.region || "NON FORNITA"}}</p>
      </div>
      <div class="info-container">
        <p class="info-cpy">CITTÀ</p>
        <p class="info-data">{{this.authService.user.location.city || "NON FORNITA"}} </p>
      </div>
      <div class="info-container">
        <p class="info-cpy">TIPOLOGIE DI EVENTO PREFERITE</p>
        <p class="info-data">{{this.authService.getPreferences() || "NON FORNITA"}} </p>
      </div>
      <div class="info-container">
        <p class="info-cpy">RUOLO</p>
        <p class="info-data">{{this.authService.user.role}}</p>
      </div>
    </div>
  </div>

  <div class="interaction-buttons-container">
    <button class="btn" mat-fab color="primary" aria-label="Edit profile" (click)="onProfileEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button class="btn" mat-fab color="warn" aria-label="Delete profile" (click)="onProfileRemove()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

</div>
