.container {
  position: relative;
  top: 5%;
  width: 30%;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  .container {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .container {
    width: 70%;
  }
}

.profile-card-text {
  font-size: 1.3em;
  font-weight: normal;
}

.profile-card-value {
  font-size: 1.3em;
  font-weight: lighter;
  margin-left: 10px;
}

.profile-card-paragraph {
  margin-top: 10px;
}

