<div class="main-container">

  <div class="organizer-header">
    <h1 class="organizer-header-name">Il mio profilo</h1>
  </div>

  <div class="card-container">

    <div class="card-header">
      <h2 class="explore-cpy">Dati personali</h2>
    </div>

    <mat-divider class="divider"></mat-divider>


    <div class="data-container">
      <div class="registry-container">
        <h1 class="registry-copy">ANAGRAFICA</h1>
        <div class="info-container">
          <p class="info-cpy"><mat-icon class="info-icon">person</mat-icon>NOME</p>
          <p class="info-data">{{this.authService.user.name}}</p>
        </div>
        <div class="info-container">
          <p class="info-cpy"><mat-icon class="info-icon">person</mat-icon>COGNOME</p>
          <p class="info-data">{{this.authService.user.lastName}}</p>
        </div>
        <div class="info-container">
          <p class="info-cpy"><mat-icon class="info-icon"> place</mat-icon>REGIONE</p>
          <p class="info-data">{{this.authService.user.location.region || "NON FORNITA"}}</p>
        </div>
        <div class="info-container">
          <p class="info-cpy"><mat-icon class="info-icon"> place</mat-icon>CITTÀ</p>
          <p class="info-data">{{this.authService.user.location.city || "NON FORNITA"}} </p>
        </div>
      </div>
      <div class="separator"></div>
      <div class="account-container">
        <h1 class="account-copy">ACCOUNT</h1>
        <div class="info-container">
          <p class="info-cpy"><mat-icon matSuffix class="info-icon">account_circle</mat-icon>USERNAME</p>
          <p class="info-data">{{this.authService.user.username}}</p>
        </div>
        <div class="info-container">
          <p class="info-cpy"><mat-icon class="info-icon">email</mat-icon>EMAIL</p>
          <p class="info-data">{{this.authService.user.email}}</p>
        </div>
        <div class="info-container">

          <p class="info-cpy"><mat-icon class="info-icon">event_note</mat-icon>EVENTI PREFERITI</p>
          <p class="info-data">{{this.authService.getPreferences() || "non forniti"}} </p>
        </div>
        <div class="info-container">

          <p class="info-cpy"><mat-icon class="info-icon">star</mat-icon>RUOLO</p>
          <p class="info-data">{{this.authService.user.role | lowercase }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="floating-buttons-left">
    <div>
      <button class="edit-button" mat-fab color="primary" aria-label="Edit profile" (click)="onProfileEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    <div>
      <button class="delete-button" mat-fab color="warn" aria-label="Delete profile" (click)="onProfileRemove()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>

  <div class="section-separator"></div>

  <!-- If you are an organizer, here your events will be shown -->
  <div class="card-container" *ngIf="authService.isOrganizer()">
    <div class="card-header">
      <h2 class="explore-cpy">I miei eventi</h2>
    </div>
    <div class="cards">
      <app-card class="card" *ngFor="let event of this.organizerEvents" [event]="event" routerLink="/event/{{event.id}}"></app-card>
    </div>
  </div>

</div>
