/* TODO: pulire il codice */

@import "src/styles.css";

* {
  text-align: center;

  --primary-text-size: 48px;
  --primary-font-weight: 600;
  --container-border-radius: 15px;

}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 120px;
  background-color: var(--login-page-background-color);
}

.organizer-header {
  margin-bottom: 6%;
}
.organizer-header-name {
  font-size: var(--primary-text-size);
  font-weight: var(--primary-font-weight);
  margin-top: 72px;
  margin-bottom: 24px;
}

.card-container {
  margin: 0 36px;
  border-radius: var(--container-border-radius);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
  padding-bottom: 36px;
  width: 65vw;
  max-width: 85vw;
}
.card-header {
  margin-top: 8px;
  margin-bottom: 20px;
  padding-top: 32px;
}
.explore-cpy {
  font-size: 28px;
  font-weight: 600;
}
.divider {
  --divider-margin: 10%;

  margin-left: var(--divider-margin);
  margin-right: var(--divider-margin);
}

.data-container {
  /* parent */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* crea le variabili */
.registry-container {
  width: 100%;
  margin-top: 16px;
}
.registry-container .registry-copy {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}

.account-container {
  width: 100%;
  margin-top: 16px;}
.account-container .account-copy {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 16px;
}
/**/

.info-container {
  margin: 32px 0;
}
.info-cpy {
  margin-right: 5px;
  font-weight: 600;
  font-size: 18px;
}
.info-data {
  margin-top: -8px;
  font-size: 16px;
}

.interaction-buttons-container {
  margin-top: -32px;
}
.btn {
  --margin-lr: 20px;

  margin-left: var(--margin-lr);
  margin-right: var(--margin-lr);
}
.main-footer {
  height: 100px;
}

@media screen and (max-width: 768px) {

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    background-color: var(--login-page-background-color);
  }

  .organizer-header {
    margin-bottom: 6%;
  }
  .organizer-header-name {
    font-size: var(--primary-text-size);
    font-weight: var(--primary-font-weight);
    margin-top: 72px;
    margin-bottom: 24px;
  }

  .card-container {
    margin: 0 36px;
    border-radius: var(--container-border-radius);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    padding-bottom: 36px;
    width: 65vw;
  }
  .card-header {
    margin-top: 8px;
    margin-bottom: 20px;
    padding-top: 32px;
  }
  .explore-cpy {
    font-size: 28px;
    font-weight: 600;
  }
  .divider {
    --divider-margin: 10%;

    margin-left: var(--divider-margin);
    margin-right: var(--divider-margin);
  }

  .data-container {
    /* parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* crea le variabili */
  .registry-container {
    width: 100%;
    margin-top: 16px;
  }
  .registry-container .registry-copy {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 12px;
  }

  .account-container {
    width: 100%;
    margin-top: 16px;}
  .account-container .account-copy {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 12px;
  }
  /**/

  .info-container {
    margin: 32px 0;
  }
  .info-cpy {
    margin-right: 5px;
    font-weight: 600;
    font-size: 18px;
  }
  .info-data {
    margin-top: -8px;
    font-size: 16px;
  }

  .interaction-buttons-container {
    margin-top: -32px;
  }
  .btn {
    --margin-lr: 20px;

    margin-left: var(--margin-lr);
    margin-right: var(--margin-lr);
  }
  .main-footer {
    height: 100px;
  }

}

@media screen and (max-width: 400px) {

  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 120px;
    background-color: var(--login-page-background-color);
  }

  .organizer-header {
    margin-bottom: 6%;
  }
  .organizer-header-name {
    font-size: var(--primary-text-size);
    font-weight: var(--primary-font-weight);
    margin-top: 72px;
    margin-bottom: 22px;
  }

  .card-container {
    margin: 0 36px;
    border-radius: var(--container-border-radius);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
    padding-bottom: 36px;
    width: 65vw;
  }
  .card-header {
    margin-top: 8px;
    margin-bottom: 20px;
    padding-top: 32px;
  }
  .explore-cpy {
    font-size: 26px;
    font-weight: 600;
  }
  .divider {
    --divider-margin: 10%;

    margin-left: var(--divider-margin);
    margin-right: var(--divider-margin);
  }

  .data-container {
    /* parent */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* crea le variabili */
  .registry-container {
    width: 100%;
    margin-top: 16px;
  }
  .registry-container .registry-copy {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 12px;
  }

  .account-container {
    width: 100%;
    margin-top: 16px;}
  .account-container .account-copy {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
    margin-top: 12px;
  }
  /**/

  .info-container {
    margin: 32px 0;
  }
  .info-cpy {
    margin-right: 5px;
    font-weight: 600;
    font-size: 16px;
  }
  .info-data {
    margin-top: -8px;
    font-size: 14px;
  }

  .interaction-buttons-container {
    margin-top: -32px;
  }
  .btn {
    --margin-lr: 20px;

    margin-left: var(--margin-lr);
    margin-right: var(--margin-lr);
  }
  .main-footer {
    height: 100px;
  }

}
