<mat-card class="card">

  <!-- Card Header -->
  <mat-card-header class="card-header">
    <mat-card-title>Hai dimenticato la password?</mat-card-title>
    <mat-card-subtitle>Nessuna paura!</mat-card-subtitle>
  </mat-card-header>

  <!-- Card Body -->
  <mat-card-content>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
      <!-- Username -->
      <div class="field-container">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input matInput placeholder="" formControlName="username" required>
          <mat-icon matSuffix>person</mat-icon>
          <mat-error *ngIf="resetPasswordForm.get('username').hasError('required')">
            Inserisci uno username
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('username').hasError('minlength')">
            Inserisci almeno 4 caratteri
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('username').hasError('maxlength')">
            Inserisci massimo 16 caratteri
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Buttons -->
      <mat-card-actions>
        <button [disabled]="!resetPasswordForm.valid" mat-raised-button color="primary" class="login-btn" type="submit" matTooltip="Conferma reset password">
          <mat-icon>check</mat-icon>
          Conferma
        </button>
        <button mat-raised-button color="warn" class="login-btn" type="button" (click)="onCancel()" matTooltip="Annulla operazione">
          <mat-icon>close</mat-icon>
          Annulla
        </button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
