.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 24px;
  margin: 0 auto;
  max-width: 420px;
  border-radius: 2px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.card-header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: -9px;
}
.cancel-btn {
  width: 50%;
  margin-right: 8px;
}
.confirm-btn {
  width: 56%;
  margin-left: 8px;
}
