<div>
  <mat-card class="card">
    <mat-card-header class="card-header">
      <mat-card-title>Modifica evento</mat-card-title>
      <mat-card-subtitle>Aggiorna le informazioni sul tuo evento</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="eventEditDialog">

        <!-- Locandina -->
        <div>
          <img src="https://drscdn.500px.org/photo/51151370/m%3D900/v2?sig=fb8103a3655936fb4b815f0a5b28ad84ec4565c8fc7ac9ac6ed13f25e0f02e60" alt="sample">
          <button class="edit-button" mat-fab aria-label="Edit" color="primary">
            <mat-icon class="icon-edit">edit</mat-icon>
          </button>
        </div>

        <!-- Nome evento -->
        <div class="field-container">
          <mat-form-field appearance="outline">
            <mat-label>Nome dell'evento</mat-label>
            <input matInput placeholder="" formControlName="title">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>
        </div>

        <!-- Data e ora -->
        <div class="date-picker">
          <app-datepicker controlName="date"></app-datepicker>
        </div>

        <!-- Luogo -->
        <div class="field-container">
          <mat-form-field appearance="outline">
            <mat-label>Luogo</mat-label>
            <input matInput placeholder="" formControlName="location" required>
            <mat-icon matSuffix>location_on</mat-icon>
          </mat-form-field>
        </div>

        <!-- Prezzo -->
        <div class="field-container">
          <mat-form-field appearance="outline">
            <mat-label>Prezzo di partenza</mat-label>
            <input matInput placeholder="" formControlName="price" required>
            <mat-icon matSuffix>euro_symbol</mat-icon>
          </mat-form-field>
        </div>

        <!-- Tipologia di evento -->
        <mat-form-field appearance="fill">
          <mat-label>Tipologia evento</mat-label>
          <select matNativeControl formControlName="eventType" required>
            <option></option>
          </select>
        </mat-form-field>

        <!-- Descrizione -->
        <div class="field-container">
          <mat-form-field appearance="outline">
            <mat-label>Descrizione</mat-label>
            <input matInput placeholder="" formControlName="description">
            <mat-icon matSuffix>email</mat-icon>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>

  </mat-card>
</div>
