<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="js/redirect.js"></script>


    <title>Statistiche</title>
</head>
<body>
<h1 align="center">REPLICARE QUI TOP BAR PRESENTE SU ANGULAR</h1>
<br/>
    <div class="container-md">
        <div class="overflow-scroll">
            <h1>STATISTICHE GLOBALI</h1>
            <table border="1">
                <tr>
                    <th>Numero Eventi</th>
                    <th>N° Commenti</th>
                    <th>N° Recensioni</th>
                    <th>N° Like</th>
                    <th>N° Partecipazioni</th>
                </tr>
                <tr>
                    <td th:text="${global.nEvents}"></td>
                    <td th:text="${global.nComments}"></td>
                    <td th:text="${global.nReviews}"></td>
                    <td th:text="${global.nLike}"></td>
                    <td th:text="${global.nPartecipation}"></td>

                </tr>
            </table>
            <br/>
            <h1>TOP 5 EVENTI</h1>
            <br/>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 " >
                <div class="col mb-5" th:each="ev :${topFive}"  >
                    <div class="card"  >
                        <img th:src="${ev.urlImage}" class="card-img-top" alt="..." style="object-fit: cover; ">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${ev.title}"></h5>
                            <p class="card-text" th:text="${ev.rating}"></p>
                            <button class="btn btn-primary" type="button" th:value="${ev.id}" onclick="redirect(this.value)">Visualizza</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<br/>

<h1 align="center">REPLICARE QUI FOOTER PRESENTE SU ANGULAR</h1>
</body>
</html>