<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.0.4/popper.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>



    <title>Statistiche</title>
</head>
<body>
<h1>STATISTICHE GLOBALI</h1>
<table border="1">
    <tr>
        <th>Numero Eventi</th>
        <th>N° Commenti</th>
        <th>N° Recensioni</th>
        <th>N° Like</th>
        <th>N° Partecipazioni</th>
    </tr>
    <tr>
        <td th:text="${global.nEvents}"></td>
        <td th:text="${global.nComments}"></td>
        <td th:text="${global.nReviews}"></td>
        <td th:text="${global.nLike}"></td>
        <td th:text="${global.nPartecipation}"></td>

    </tr>
</table>

</body>
</html>