<div class="main-container">

  <!-- Nome e Email -->
  <div class="organizer-header">

    <!-- Nome e cognome -->
    <h1 class="organizer-header-name">Nome Cognome</h1>

    <!-- Email -->
    <p class="organizer-header-mail">nome.cognome@organizer.com</p>
  </div>

  <!-- Vetrina eventi pubblicati dall'organizzatore -->
  <div class="card-container">
    <div class="card-header">
      <h2 class="explore-cpy">Vedi anche..</h2>
    </div>

    <div class="cards">
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
      <app-card class="card"></app-card>
    </div>
  </div>

  <div class="contact-btn">
    <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
      <mat-icon>contacts</mat-icon>
    </button>
  </div>

</div>
<div class="main-footer"></div>
