<div class="main-container">

  <!-- Nome e Email -->
  <div class="organizer-header">

    <!-- Nome e cognome -->
    <h1 class="organizer-header-name">{{fullName}}</h1>
  </div>

  <!-- Vetrina eventi pubblicati dall'organizzatore -->
  <div class="card-container">
    <div class="card-header">
      <h2 class="explore-cpy">Eventi</h2>
    </div>
    <div class="cards">
      <app-card class="card" *ngFor="let event of this.events" [event]="event" routerLink="/event/{{event.id}}"></app-card>
    </div>
  </div>
</div>
<div class="contact-btn">
  <a href="mailto:{{email}}">
    <button mat-fab color="primary" matTooltip="Contatta l'organizzatore" aria-label="Contact the organizer">
      <mat-icon>contacts</mat-icon>
    </button>
  </a>
</div>
<div class="main-footer"></div>
