
<div *ngIf="authService.isAuthenticated(); then isLoggedIn else isNotLoggedIn"></div>
<ng-template #isLoggedIn>
  <app-banner-welcomeback></app-banner-welcomeback>
</ng-template>
<ng-template #isNotLoggedIn>
  <app-banner-join ></app-banner-join>
</ng-template>
<h1>Eventi in arrivo</h1>
<app-card *ngFor="let event of eventsService.getOnlyFutureEvents()" [event]="event" routerLink="/event/{{event.id}}"></app-card>

<h1>Eventi terminati</h1>
<app-card *ngFor="let event of eventsService.getOnlyPastEvents()" [event]="event" routerLink="/event/{{event.id}}"></app-card>

