<div *ngIf="authService.isAuthenticated(); then isLoggedIn else isNotLoggedIn"></div>
<ng-template #isLoggedIn>
  <app-banner-welcomeback></app-banner-welcomeback>
</ng-template>
<ng-template #isNotLoggedIn>
  <app-banner-join ></app-banner-join>
</ng-template>

<div class="container">
  <div class="chip-listbox-container">
    <mat-chip-listbox [multiple]="true" aria-label="Filtri per tipologia">
      <mat-chip-option *ngFor="let event of eventTypes" (selectionChange)="handleSelectedType(event)">{{event}}</mat-chip-option>
    </mat-chip-listbox>
  </div>

  <div class="events-container">
    <div class="incoming-events-container">
      <h1 class="event-type-copy">Eventi in arrivo</h1>
      <app-card *ngFor="let event of eventsService.getOnlyFutureEvents(selectedEventTypes)" [event]="event" routerLink="/event/{{event.id}}"></app-card>
      <h3 *ngIf="eventsService.getOnlyFutureEvents(selectedEventTypes).length === 0">Siamo spiacenti: non ci sono eventi in arrivo.</h3>
    </div>

    <div class="outcoming-events-container" *ngIf="eventsService.getOnlyPastEvents(selectedEventTypes).length > 0">
      <h1 class="event-type-copy">Eventi terminati</h1>
      <app-card *ngFor="let event of eventsService.getOnlyPastEvents(selectedEventTypes)" [event]="event" routerLink="/event/{{event.id}}"></app-card>
    </div>
  </div>
</div>

