
<div *ngIf="authService.isAuthenticated(); then isLoggedIn else isNotLoggedIn"></div>
<ng-template #isLoggedIn>
  <app-banner-welcomeback></app-banner-welcomeback>
</ng-template>
<ng-template #isNotLoggedIn>
  <app-banner-join ></app-banner-join>
</ng-template>

<mat-chip-listbox [multiple]="true" aria-label="Filtri per tipologia">
  <mat-chip-option *ngFor="let event of eventTypes" (selectionChange)="handleSelectedType(event)">{{event}}</mat-chip-option>
</mat-chip-listbox>

<h1>Eventi in arrivo</h1>
<app-card *ngFor="let event of eventsService.getOnlyFutureEvents(selectedEventTypes)" [event]="event" routerLink="/event/{{event.id}}"></app-card>

<h1>Eventi terminati</h1>
<app-card *ngFor="let event of eventsService.getOnlyPastEvents(selectedEventTypes)" [event]="event" routerLink="/event/{{event.id}}"></app-card>

