<div class="event-main-container">

  <!-- Poster -->
  <div class="poster-container">
    <img class="poster" src="{{event.urlPoster}}" alt="">
  </div>

  <!-- Date and Time -->
  <div class="date-name-container">
    <p class="date-header">{{event.date | date: "dd MMM YYYY"}}</p>
    <h1 class="name-header">{{event.title}}</h1>
    <p class="price-header">Ingressi a partire da: {{event.price | currency: "EUR"}}</p>
  </div>


  <!-- Like / Attendance -->
  <div class="like-participate-container">


    <div class="participate-button-container">
      <button class="participate-button" mat-fab color="primary" aria-label="Participate" [disabled]="!this.authService.isAuthenticated()" (click)="onParticipate()"
              [ngClass]="{
              'participate-button-false': !participate,
              'participate-button-true': participate
              }">
        <mat-icon>how_to_reg</mat-icon>
      </button>
      <br><br>
      {{participantsNumber.toString()}}
    </div>

    <div class="like-button-container">
      <button class="like-button" mat-fab aria-label="Like" [disabled]="!this.authService.isAuthenticated()" (click)="onLike()"
              [ngClass]="{
              'like-button-false': !liked,
              'like-button-true': liked
              }">
        <mat-icon>favorite</mat-icon>
      </button>
      <br><br>
      {{likesNumber.toString()}}
    </div>

  </div>
  <div class="line-break"></div>


  <!-- Description -->
  <div class="event-description">
    <p>
      {{event.description}}
    </p>
  </div>

  <!-- Organizer -->
  <div class="organizer-container">
    <p class="organizer-cpy">organizzato da</p>
    <p class="organizer-name" routerLink="/organizer/{{event.organizer}}">{{event.organizerFullName}}</p>
  </div>

  <!-- When and where -->
  <div style="display: grid">
    <div class="date-location-container">
      <div class="date-container">
        <div class="card-date-header">
          <mat-icon class="date-icon">date_range</mat-icon>
          <p class="date-cpy">Data e ora</p>
        </div>
        <p class="date">{{event.date | date: "dd/MM/YYYY H:MM"}}</p>
      </div>
      <div class="location-container">
        <div class="card-location-header">
          <mat-icon class="location-icon">location_on</mat-icon>
          <p class="location-cpy">Località</p>
        </div>
        <p class="location">DA MODIFICARE</p>
      </div>
    </div>
  </div>

  <!-- Comments / Reviews -->
  <div class="comments-reviews-container">
    <div class="comments-header-cpy">
      <h2>{{((this.event.commentList.length)+(this.event.reviewList.length)).toString()}} persone hanno interagito</h2>
    </div>
    <div>
      <mat-tab-group class="comments-tab">
        <mat-tab>
          <ng-template mat-tab-label>
            <span matBadge="{{event.commentList.length}}" matBadgeOverlap="false">Commenti</span>
          </ng-template>
          <app-comment-form *ngIf="authService.isAuthenticated()"></app-comment-form>
          <app-comment *ngFor="let comment of event.commentList" [comment]="comment"></app-comment>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <span matBadge="{{event.reviewList.length}}" matBadgeOverlap="false">Recensioni</span>
          </ng-template>
          <app-review-form *ngIf="authService.isAuthenticated()"></app-review-form>
          <app-review *ngFor="let review of event.reviewList" [review]="review"></app-review>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>

  <!-- Floating buttons -->
  <div class="floating-buttons-left">
    <div class="edit-button-container">
      <button class="edit-button" mat-fab aria-label="Edit" color="primary" *ngIf="authService.isAuthenticated() && (authService.user.id === event.organizer)">
        <mat-icon class="icon-edit">edit</mat-icon>
      </button>
    </div>
    <div class="delete-button-container">
      <button class="delete-button" mat-fab aria-label="Delete" color="warn" (click)="onDelete()" *ngIf="authService.isAuthenticated() && (authService.user.id === event.organizer || authService.user.role === 'ADMIN')">
        <mat-icon class="icon-delete">delete</mat-icon>
      </button>
    </div>
    <div class="report-button-container">
      <button class="report-button" mat-fab aria-label="Report" (click)="onReport()" *ngIf="authService.isAuthenticated() && (authService.user.id !== event.organizer && authService.user.role !== 'ADMIN')">
        <mat-icon class="icon-report">report</mat-icon>
      </button>
    </div>
  </div>

</div>
