<div class="event-main-container">

  <!-- Locandina -->
  <div class="poster-container">
    <img class="poster" src="https://images.unsplash.com/photo-1580757468214-c73f7062a5cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8MTYlM0E5fGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="">
  </div>

  <!-- Data e Titolo -->
  <div class="date-name-container">
    <p class="date-header">Gen 9</p>
    <h1 class="name-header">Compleanno di Simoncino</h1>
    <p class="price-header">ingresso: 15€</p>
  </div>


  <!-- Descrizione -->
  <div class="event-description">
    <p>Il Roadshow Smau, circuito di riferimento dell’ecosistema dell’innovazione nazionale e internazionale, farà tappa a Taranto.
      Il Roadshow Smau, circuito di riferimento dell’ecosistema dell’innovazione nazionale e internazionale, farà tappa a Taranto.
    </p>
  </div>

  <!-- Organizzatore -->
  <div class="organizer-container">
    <p class="organizer-cpy">organizzato da</p>
    <p class="organizer-name">Alejandro</p>
  </div>

  <!-- Quando e dove -->
  <div style="display: grid">
    <div class="date-location-container">
      <div class="date-container">
        <div class="card-date-header">
          <mat-icon class="date-icon">date_range</mat-icon>
          <p class="date-cpy">Data e ora</p>
        </div>
        <p class="date">Gio 26 Gennaio, 09:30 – 17:30</p>
      </div>
      <div class="location-container">
        <div class="card-location-header">
          <mat-icon class="location-icon">location_on</mat-icon>
          <p class="location-cpy">Località</p>
        </div>
        <p class="location">Piazza Dogana, 4, 88100 Catanzaro CZ</p>
      </div>
    </div>
  </div>

</div>


