<div class="container">
  <div class="event-main-container">

    <!-- Poster -->
    <div class="poster-container">
      <img class="poster" src="{{event.urlPoster !== '#'  ? event.urlPoster : '/assets/images/event-default.png'}}"
           onerror="this.src = '/assets/images/event-default.png'"
           alt="Image containing the event flyer"
           (click)="onImgClick()">
    </div>

    <div class="event-container">

      <!-- LEFT SIDE -->
      <div class="event-left-side">

        <!-- Date -->
        <div class="left-side">
          <h4 class="card-calendar-mmm">{{this.event.date | date: 'MMM'|uppercase}}</h4>
          <h4 class="card-calendar-dd">{{this.event.date | date: 'dd'}}</h4>
        </div>

        <!-- Title -->
        <h1 class="title-header">{{event.title}}</h1>


        <!-- Average rating -->
        <div class="card-rating" *ngIf="averageRating">
          <div class="rating"><span class="star">★</span>{{averageRating.toFixed(2).replace(".00", "")}}/5</div>
        </div>

        <!-- Sold out -->
        <div class="sold-out-container" *ngIf="event.soldOut">
          <img class="sold-out animate__animated animate__shakeX" src="/assets/images/sold-out.png" alt="Sold out">
        </div>


        <!-- When and where -->
        <div class="card-when-where-container">
          <div class="card-when-where">
            <mat-icon class="calendar-icon">date_range</mat-icon>
            <p class="when-where-cpy">Data e ora</p>
            <p class="date-string">{{event.date | date: "dd/MM/YYYY H:mm"}}</p>
          </div>
          <div class="card-when-where">
            <mat-icon class="calendar-icon">place</mat-icon>
            <p class="when-where-cpy">Località</p>
            <p class="position-string">{{event.position.address || "NON DEFINITO"}}, {{event.position.city}}, {{event.position.region}}</p>
          </div>
        </div>

        <mat-divider></mat-divider>

        <!-- Description -->
        <p class="description-header" [innerHTML]="event.description"></p>

        <!-- Organizer -->
        <div class="organizer-container">
          <p class="organizer-cpy">organizzato da</p>
          <p class="organizer-name" routerLink="/organizer/{{event.organizer}}">{{event.organizerFullName}}</p>
        </div>


        <!-- Map -->
        <div class="map-container">
          <app-map class="map" *ngIf="!(event.position.longitude === 0.0 && event.position.latitude === 0.0)" [coordinates]="[event.position.longitude, event.position.latitude]" [draggable]="false"></app-map>
        </div>

        <app-similar-events-box [parentEvent]="event"></app-similar-events-box>
      </div>

      <!-- RIGHT SIDE -->
      <div class="event-right-side">

        <!-- Like / Attendance -->
        <div class="like-participate-container">
          <div class="participate-button-container">
            <button class="participate-button" mat-fab color="primary" aria-label="Participate" [disabled]="!this.authService.isAuthenticated()" (click)="onParticipate()"
                    [ngClass]="participate ? 'participate-button-true animate__animated animate__shakeY' : 'participate-button-false'" matTooltip="Partecipo" matTooltipPosition="above">
              <mat-icon>how_to_reg</mat-icon>
            </button><br><br>
            <p class="partecipants-number">{{participantsNumber.toString()}}</p>
          </div>

          <div class="like-button-container">
            <button class="like-button" mat-fab aria-label="Like" [disabled]="!this.authService.isAuthenticated()" (click)="onLike()"
                    [ngClass]="liked ? 'like-button-true animate__animated animate__heartBeat' : 'like-button-false'" matTooltip="Mi piace" matTooltipPosition="above">
              <mat-icon>favorite</mat-icon>
            </button><br><br>
            <p class="likes-number">{{likesNumber.toString()}}</p>
          </div>
        </div>

        <!-- Tickets -->
        <div class="get-tickets-container">
          <div class="get-tickets-content">
            <p class="get-ticket-copy">{{event.price === 0.0 ? "Evento gratuito!" : "Biglietti a partire da " + (event.price | currency: "EUR")}}</p>
            <button mat-raised-button color="primary" class="get-ticket-button" (click)="onTicketPage()" [disabled]="event.urlTicket === ''">Vai al sito</button>
          </div>
        </div>

        <!-- Share -->
        <div class="social-buttons">
          <share-buttons theme="circles-dark"
                         [include]="['facebook', 'twitter', 'email', 'whatsapp', 'telegram', 'copy']"
                         [showIcon]="true"
                         [showText]="true"
                         url="http://localhost:4200/event/{{event.id}}"
                         description="Sent from GoodVibes"
                         class="pt-5">
          </share-buttons>
        </div>

        <!-- Comments and Reviews -->
        <div class="comments-reviews-container">
          <div class="comments-header-cpy">
            <h2>{{interactionsNumber === 1 ? interactionsNumber.toString() + ' persona ha interagito' : interactionsNumber.toString() + ' persone hanno interagito'}}</h2>
          </div>
          <div>
            <mat-tab-group class="comments-tab">
              <mat-tab>
                <ng-template mat-tab-label>
                  <span matBadge="{{event.commentList.length}}" matBadgeOverlap="false">Commenti</span>
                </ng-template>
                <app-comment-form *ngIf="authService.isAuthenticated()"></app-comment-form>
                <app-comment *ngFor="let comment of event.commentList" [comment]="comment" [isOrganizer]="event.organizer === comment.person"></app-comment>
              </mat-tab>
              <mat-tab class="review-tabs">
                <ng-template mat-tab-label>
                  <span matBadge="{{event.reviewList.length}}" matBadgeOverlap="false">Recensioni</span>
                </ng-template>
                <app-review-form [eventDate]="event.date" *ngIf="authService.isAuthenticated() && event.organizer != authService.user.id"></app-review-form>
                <app-review *ngFor="let review of event.reviewList" [review]="review"></app-review>
              </mat-tab>
            </mat-tab-group>
          </div>
        </div>

      </div>
    </div>

    <!-- Floating buttons -->
    <div class="floating-buttons-left">
      <div class="edit-button-container">
        <button class="edit-button" mat-fab aria-label="Edit" color="primary" (click)="onEdit()" *ngIf="!isAPastEvent() && authService.isAuthenticated() && (authService.user.id === event.organizer || authService.user.role === 'ADMIN')" matTooltip="Modifica" matTooltipPosition="after">
          <mat-icon class="icon-edit">edit</mat-icon>
        </button>
      </div>
      <div class="delete-button-container">
        <button class="delete-button" mat-fab aria-label="Delete" color="warn" (click)="onDelete()" *ngIf="authService.isAuthenticated() && (authService.user.id === event.organizer || authService.user.role === 'ADMIN')" matTooltip="Rimuovi" matTooltipPosition="after">
          <mat-icon class="icon-delete">delete</mat-icon>
        </button>
      </div>
      <div class="report-button-container">
        <button class="report-button" mat-fab aria-label="Report" (click)="onReport()" *ngIf="authService.isAuthenticated() && (authService.user.id !== event.organizer && authService.user.role !== 'ADMIN')" matTooltip="Segnala" matTooltipPosition="after">
          <mat-icon class="icon-report">report</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
