* {
  text-align: center;
  width: auto;
}

.poster {
  max-width: 80%;
  width: 800px;
  max-height: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}


.event-main-container {
  width: auto;
  height: auto;
}

.date-name-container { }
.date-header {
  text-align: left;
  font-size: 26px;
  font-weight: normal;
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 5px;
  margin-top: 30px;
}
.name-header {
  font-size: 36px;
  font-weight: bold;
  margin-top: -5px;
  margin-left: 18%;
  margin-right: 18%;
}
.price-header {
  text-align: right;
  font-size: 12px;    /* va cambiato insieme al margin-top */
  margin-top: -18px;  /* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
  font-weight: normal;
  margin-left: 35%;
  margin-right: 35%;
  padding-top: 5px;
  font-style: italic;
}

.event-description {
  margin-top: 36px;
  margin-left: 18%;
  margin-right: 18%;
}

.organizer-container {
  font-style: italic;
  display: inline-block;
}
.organizer-cpy {
  float: left;
  width: 100px;
}
.organizer-name {
  text-decoration: underline;
  float: right;
  width: auto;
}

.organizer-name:hover { cursor: pointer }

/* Date and Location */
.date-location-container {
  width: auto;
  height: auto;
  display: inline;
  margin-top: 30px;
  padding-bottom: 30px;
  margin-left: 10%;
  margin-right: 10%;

  /* variables */
  --icon-header-size: 14px; /* devono essere uguali! */
  --cpy-size: 14px;         /* ^^^^^^^^^^^^^^^^^^^^^ */
  --cpy-margin-top: 4px;   /* e va aggiornato questo */
  --icon-float: left;
  --cpy-float: right;
  --margin: 15%;
  --height: auto;
  --width: 30%;
  --display: inline-block;
  --icon-color: #3a0ca3;

  --bg-card-color: #dee2e6;
  --bg-card-header-color: #d1d1d1;
  --bg-card-border-radius: 12px;

  --border-radius-card: 10px;
  --padding-card: 6px;
}
.date-container, .location-container {
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius-card);
  background-color: var(--bg-card-color);
  display: table-column;
  align-items: center;
  padding: 8px 5px 8px 5px;
}
.date-container {
  float: left;
  margin-left: var(--margin);
}
.location-container {
  float: right;
  margin-right: var(--margin);
}
.card-date-header, .card-location-header {
  display: var(--display);
}
.date-icon, .location-icon {
  font-size: var(--icon-header-size);
  color: var(--icon-color);
  float: var(--icon-float);
  height: var(--height);
  margin-top: 6px;
  margin-right: 6px;
  width: auto;
}
.date-cpy, .location-cpy {
  float: var(--cpy-float);
  width: auto;
  height: auto;
  font-size: var(--cpy-size);
  margin-top: var(--cpy-margin-top);
  font-weight: bold;
}




.like-participate-container {
  display: inline-block;
}
.participate-button-container, .like-button-container {
  margin-left: 16px;
  margin-right: 16px;
}
.participate-button-container {
  float: left;
}
.like-button-container {
  float: right;
}
.participate-button, .like-button {

  --bg-color-partecipate-notpressed: #ced4da;
  --bg-color-partecipate-pressed: primary;

  --bg-color-like-notpressed: #ced4da;
  --bg-color-like-pressed: accent;

}
.participate-button {
  background-color: var(--bg-color-partecipate-notpressed);
  /* da cambiare quando è pressed con angular */
}
.like-button {
  background-color: var(--bg-color-like-notpressed);
  /* da cambiare quando è pressed con angular */
}

.participate-button-false .like-button-false {
  background-color: #ced4da
}

.participate-button-true {
  background-color: #0F9D58;
}

.like-button-true {
  background-color: #DB4437;
}

.line-break {
  display: flex;
  background-color: black;
  height: 100%;
  width: 100%;
}

.comments-reviews-container {
  background-color: #ced4da;
  border-radius: 10px;
  margin-top: 36px;
  margin-left: 25%;
  margin-right: 25%;
}
.comments-tab {
  background-color: #dee2e6;
  border-radius: 10px;
}
.comments-header-cpy {
  padding-top: 24px;
}

.blank-space-at-bottom {
  margin-top: 30px;
  width: 1920px;
  height: 300px;
  background-color: lightgrey;
}
/* TODO: se serve */
@media screen and (max-width: 550px) {
  .date-icon, .location-icon {

  }
}
