<div>

  <!-- Option (vedi createeventcomponent:42) -->
  <mat-form-field appearance="fill">
    <mat-label>Tipologia evento</mat-label>
    <select matNativeControl formControlName="eventType" required>
      <option *ngFor="let report of reportTypes" value="{{report}}">{{report}}</option>
    </select>
  </mat-form-field>

  <!-- TextField per la motivazione -->
  <div class="field-container">
    <mat-form-field appearance="outline">
      <mat-label>Motivazione</mat-label>
      <input matInput placeholder="" formControlName="report">
      <mat-icon matSuffix>chat</mat-icon>
    </mat-form-field>
  </div>

  <!-- Pulsanti "Conferma" e "Annulla -->
  <div class="interaction-buttons-container">
    <button class="btn" mat-fab color="warn" aria-label="Conferma">
      <mat-icon>clear</mat-icon>
    </button>
    <button class="btn" mat-fab color="primary" aria-label="Annulla">
      <mat-icon>send</mat-icon>
    </button>
  </div>

</div>

