.bg-image {
  background-image: url('https://live.staticflickr.com/831/27935662728_5e9a9c2cb1_b.jpg');
  background-size: cover;
  vertical-align: center;
  height: 35vh;
  width: 100%;
  position: relative;
}

.bg-container {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.bg-text {
  font-size: 32px;
}

.bg-paragraph {
  text-shadow: 2px 2px 4px #000000;
}
