.bg-image {
  background-image: url('/assets/images/banner-auth.jpeg');
  background-size: var(--banner-image-background-size);
  vertical-align: var(--banner-image-vertical-align);
  height: var(--banner-image-height);
  width: var(--banner-image-width);
  position: var(--banner-image-position);
}

.bg-container {
  position: var(--banner-container-position);
  top: var(--banner-container-top);
  left: var(--banner-container-left);
  height: var(--banner-container-height);
  transform: translate(-50%, -50%);
  text-align: var(--banner-container-text-align);
  text-transform: var(--banner-container-text-transform);
  letter-spacing: var(--banner-container-letter-spacing);
  color: var(--banner-container-text-color);
  text-shadow: var(--banner-container-text-shadow);
}

.bg-text {
  font-size: var(--banner-text-font-size);
}
.bg-button {
  border: var(--banner-button-border);
  outline: var(--banner-button-outline);
  padding: var(--banner-button-padding);
  color: var(--banner-container-text-color);
  background-color: var(--banner-button-background-color);
  cursor: var(--banner-button-cursor);
  font-size: var(--banner-button-font-size);
  transition: var(--banner-button-transition);
}
.bg-button:hover {
  transform: var(--banner-button-hover-transform);
}
