<footer>
  <div class="container">
    <div class="left section">
      <h2>Chi siamo</h2>
      <div class="content">
        <p>GoodVibes è una Web Application che si pone come obiettivo quello di aiutare le persone a trovare l’evento ideale a cui partecipare per trascorrere una piacevole serata in compagnia.</p>
      </div>
    </div>

    <div class="center section">
      <h2>Contattaci</h2>
      <div class="content">
        <div class="email">
          <span class="fas fa-envelope"></span>
          <span class="text">progetto.webapp.2023@gmail.com</span>
        </div>
      </div>
    </div>

    <div class="right section">
      <h2>Collegamenti rapidi</h2>
      <div class="content">
        <div class="place footer-link">
          <span class="fas"></span>
          <span class="text" routerLink="/about">About</span>
        </div>
        <div class="place footer-link">
          <span class="fas"></span>
          <span class="text" routerLink="/">Home</span>
        </div>
        <div class="place footer-link">
          <span class="fas"></span>
          <span class="text" routerLink="/login">Accedi</span>
        </div>
        <div class="place footer-link">
          <span class="fas"></span>
          <span class="text" routerLink="/register">Registrati</span>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="powered-by"><span><a href="https://github.com/Ernesto-Rapisarda/EventBoard" target="_blank"> Made with ❤️ by "Assemblyamenti Strani"</a></span></div>
  </div>
</footer>
