<div class="footer" style="display: flex; flex-wrap: wrap;">

  <div class="chi-siamo-section" style="flex: 1; padding: 10px;">
    <h3>Chi Siamo</h3>
    <p>Se desideri creare un link per inviare email su una pagina WordPress puoi puntare su due opzioni: lavorare sempre sul codice HTM o usare il classico sistema proposto dall’editor. Anche con il nuovo editor Gutenberg puoi seguire la procedura:</p>
  </div>

  <div class="contattaci-section" style="flex: 1; padding: 10px;">
    <h3>Contattaci</h3>
    <p><a href="mailto:progetto.webapp.2023@gmail.com">progetto.webapp.2023@gmail.com</a></p>
  </div>

  <div class="link-section" style="flex: 1; padding: 10px;">
    <h3>Link</h3>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/login">Accedi</a></li>
      <li><a routerLink="/register">Registrati 3</a></li>
      <li><a routerLink="/about">Altro</a></li>
    </ul>
  </div>
</div>
