@import "src/styles.css";

* {
  --header-font-weight: 600;
  color: white;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding-top: 12px;
  background-color: var(--footer-background-color);
}
.footer div {
  flex: 1;
  margin: 12px 24px;
}

.header-icon {
  margin-right: 6px;
  margin-bottom: -6px;
}

p, a {
  color: var(--text-content-color);
}

.chi-siamo-section p, .contattaci-section p, .link-section ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: initial;
}
.chi-siamo-section h3 {
  font-weight: var(--header-font-weight);
}
.chi-siamo-section p {
  text-align: initial;
}

.contattaci-section h3 {
  font-weight: var(--header-font-weight);
}
.contattaci-section p {
  text-align: center;
}

.link-section h3 {
  font-weight: var(--header-font-weight);
}
.link-section ul {
  text-align: center;
  list-style: none;
  margin-left: -24px;
}
.link-section li {
  margin: 0;
  padding: 0;
}

/* PRIMA VANNO CHIARITI I COLORI DELLO SFONDO
a:link, a:visited {
  text-decoration: underline;
  color: #F58529;
  background-color: transparent;
}
a:hover, a:active {
  text-decoration: underline overline;
  color: #aaa;
}
*/

a {
  text-decoration: none;
  transition: transform 0.2s;
}

a:hover {
  text-decoration: underline;
}


@media only screen and (max-width: 600px) {
  .footer {
    flex-direction: column;
  }
  .chi-siamo-section p {
    margin-left: 8px;
  }
}


