<div class="card-container">
  <div class="card-header">
    <div class="header-text">Ripensamenti? Puoi rimediare qui!</div>
  </div>

  <div class="field-container">
    <mat-form-field class="input-field" appearance="outline">
      <mat-label>Scrivi qui...</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5"
             class="input-field"  placeholder="Non vedo l'ora!" (keyup.enter)="onConfirm()" (keyup.shift.enter)="(0)" [(ngModel)]="text"></textarea>
    </mat-form-field>

    <div class="btn-container">
      <div class="cancel-btn-container">
        <button mat-mini-fab color="warn" aria-label="Cancel button" (click)="onCancel()">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
      <div class="send-btn-container">
        <button mat-mini-fab color="primary" aria-label="Send button" [disabled]="text === '' || text === originalText" (click)="onConfirm()">
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
