.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 16px auto;
  padding: 16px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 24px;
}

.header-text {
  padding-right: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #303f9f;
}

.username {
  padding-right: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #303f9f;
}
.date {
  font-size: 14px;
  color: gray;
}

.card-content {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
}

.btn-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.send-btn-container, .cancel-btn-container {
  margin: auto auto;
}
