<div class="card-container">
  <div class="card-header">
    <div class="username">USERNAME</div>
    <div class="date">GG-MM-AAAA</div>
  </div>
  <div class="card-content">
    <p>QUESTO E' UN COMMENTO. WOW. ALESSANDRO è ANDDATO A QUESTA FESTA E HA GIOITO è STATO DIVERTENTE AHAHAH ANCHE ANDREA DICE CHE è UNA BELLA FESTA.</p>
  </div>
  <div class="card-footer">
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon class="icon">report</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon class="icon">edit</mat-icon>
    </button>
  </div>
</div>




