.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 16px auto;
  padding: 16px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 24px;
  max-width: 100%;
}

.username {
  padding-right: 6px;
  font-size: 18px;
  font-weight: 600;
  color: var(--footer-background-color);
  max-width: 70%;
  overflow-wrap: break-word;
}

.username-organizer {
  padding-right: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #FF4081;
  max-width: 70%;
  overflow-wrap: break-word;
}

.date {
  font-size: 14px;
  color: gray;
  max-width: 100%;
  overflow-wrap: break-word;
}

.comment-message {
  max-width: 100%;
  overflow-wrap: break-word;
}

.card-content {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  max-width: 100%;
}

.card-footer {
  display: flex;
  justify-content: center;
}
.button-primary {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #4caf50;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}
.button-secondary {
  padding: 8px 16px;
  border-radius: 2px;
  background-color: #f44336;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
}

.icon-report {
  color: orange;
}

.icon-edit {
  color: #303f9f;
}

.icon-delete {
  color: #DB4437;
}
