<div class="card-container">
  <div class="card-header">
    <div class="username">{{this.comment.namePerson}}</div>
    <div class="date">{{this.comment.date | date:"dd/MM/YYYY H:MM" }}</div>
  </div>
  <div class="card-content">
    <p>{{this.comment.message}}</p>
  </div>
  <div class="card-footer">

    <!-- Modifica -->
    <button mat-icon-button aria-label="Edit button" *ngIf="this.authService.user && (this.authService.user.id === comment.person)" (click)="onEdit()">
      <mat-icon class="icon-edit">edit</mat-icon>
    </button>

    <!-- Rimuovi -->
    <button mat-icon-button aria-label="Delete button" *ngIf="this.authService.user && ((this.authService.user.id === comment.person || this.authService.user.role === 'ADMIN'))" (click)="onDelete()">
      <mat-icon class="icon-delete">delete</mat-icon>
    </button>

    <!-- Segnala -->
    <button mat-icon-button aria-label="Report button" *ngIf="this.authService.user && (this.authService.user.id !== comment.person) && this.authService.user.role != 'ADMIN'" (click)="onReport()">
      <mat-icon class="icon-report">report</mat-icon>
    </button>
  </div>
</div>
