.bg-image {
  background-image: url('https://wallpapercave.com/wp/wp6438678.jpg');
  background-size: cover;
  vertical-align: center;
  height: 35%;
  width: 100%;
  position: relative;
}

.bg-text {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;
}

.btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: 18px;
}
