.bg-image {
  background-image: url('https://wallpapercave.com/wp/wp6438678.jpg');
  background-size: cover;
  vertical-align: center;
  height: 40%;
  width: 100%;
  position: relative;
}


.bg-container {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.bg-text {
  font-size: 36px;
}
.bg-button {
  border: none;
  outline: none;
  padding: 10px 20px;
  color: white;
  background-color: black;
  cursor: pointer;
  font-size: 1.2em;
  transition: transform 0.2s;
}
.bg-button:hover {
  transform: scale(1.1);
}
