.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px 16px;
  background-color: var(--background-pastel-color);
}

.search-container {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 50px;
  padding: 16px 32px;
  width: 75vw;
  height: 50px;
  box-shadow: 0px 0px 5px 0px #9e9e9e;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 32px;
  padding: 12px 16px;
  width: 100%;
  background-color: white;
}

.search-box button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 12px 16px;
}

.search-box button i {
  color: #9e9e9e;
}

@media screen and (max-width: 960px) {

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 50px 16px;
  }

  .search-box {
    width: 75vw;
  }

  .search-box input {
    font-size: 24px;
  }

  .search-box button {
    font-size: 16px;
  }

  .search-box button i {
    font-size: 16px;
  }

  .search-box button i {
    color: #9e9e9e;
  }

}
