.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 16px auto;
  padding: 16px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12),
  0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 24px;
}
.header-text {
  padding-right: 6px;
  font-size: 18px;
  font-weight: 600;
  color: #303f9f;
}

.field-container {
  display: inline-block;
}

.input-field {
  float: left;
  margin-right: 12px;
}
.send-btn-container {
  float: right;
  margin-top: 4px;
}
